.site-brand-container {
  background: rgba(0, 0, 0, 0);

  .site-nav-on & {
    +tablet-mobile() {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

.site-meta {
  padding: 20px 0;
}

.brand {
  padding: 0;
}

.site-subtitle {
  margin: 10px 10px 0;
}

.site-nav-toggle, .site-nav-right {
  +tablet() {
    flex-column();
  }

  .toggle {
    color: #fa7e0d;

    .toggle-line {
      background: #fa7e0d;
    }
  }
}
